In [1]:
# packages gerais
import pandas as pd
import joblib


# df_sales_ dataset
df_sales_filtered_all = joblib.load('df_sales_filtered_all.pkl')
df_sales_filtered_2018_2019 = joblib.load('df_sales_filtered_2018_2019.pkl')
df_sales_filtered_2019 = joblib.load('df_sales_filtered_2019.pkl')
df_sales_filtered_last_6_month = joblib.load('df_sales_filtered_last_6_month.pkl')

## 1 Create a date field based in Year and Week of the year

### 1.1 But the date to make sense should be the last day in that specific week

In [2]:
import datetime
# Function to get the last day of the week using ISO calendar
def get_last_day_of_iso_week(year, week):
    first_day_of_year = datetime.datetime(year, 1, 4)  # 4th January is always in the first ISO week
    first_monday_of_year = first_day_of_year - datetime.timedelta(days=first_day_of_year.weekday())
    week_start_date = first_monday_of_year + datetime.timedelta(weeks=week-1)
    return week_start_date + datetime.timedelta(days=6)

# Applying function to DataFrame
df_sales_filtered_all['last_day_of_week'] = df_sales_filtered_all.apply(
    lambda x: get_last_day_of_iso_week(x['year'], x['week']), axis=1
)

In [3]:
df_sales_filtered_all[(df_sales_filtered_all['store_id'] == 'S0097') & (df_sales_filtered_all['product_id'] == 'P0704')].tail(30)

,store_id,product_id,year,week,sales,revenue,stock,price,last_day_of_week
196080,S0097,P0704,2019,11,10.0,24.87,12.0,3.40,2019-03-17
196081,S0097,P0704,2019,12,13.0,28.64,17.0,3.40,2019-03-24
196082,S0097,P0704,2019,13,13.0,31.48,27.0,3.40,2019-03-31
196083,S0097,P0704,2019,14,8.0,25.19,39.0,3.40,2019-04-07
196084,S0097,P0704,2019,15,4.0,12.60,35.0,3.40,2019-04-14
196085,S0097,P0704,2019,16,20.0,47.85,15.0,3.40,2019-04-21
196086,S0097,P0704,2019,17,15.0,33.04,20.0,3.40,2019-04-28
196087,S0097,P0704,2019,18,13.0,33.36,47.0,3.40,2019-05-05
196088,S0097,P0704,2019,19,7.0,15.75,37.0,3.40,2019-05-12
196089,S0097,P0704,2019,20,5.0,12.60,32.0,3.40,2019-05-19
196090,S0097,P0704,2019,21,3.0,9.45,29.0,3.40,2019-05-26
196091,S0097,P0704,2019,22,9.0,22.66,20.0,3.40,2019-06-02
196092,S0097,P0704,2019,23,4.0,8.81,16.0,3.40,2019-06-09
196093,S0097,P0704,2019,24,5.0,11.02,51.0,3.40,2019-06-16
196094,S0097,P0704,2019,25,25.0,55.09,26.0,3.40,2019-06-23
196095,S0097,P0704,2019,26,11.0,28.02,15.0,3.40,2019-06-30
196096,S0097,P0704,2019,27,1.0,3.15,14.0,3.40,2019-07-07
196097,S0097,P0704,2019,28,0.0,0.00,14.0,3.40,2019-07-14
196098,S0097,P0704,2019,29,3.0,9.45,11.0,3.40,2019-07-21
196099,S0097,P0704,2019,30,2.0,6.30,9.0,3.40,2019-07-28
196100,S0097,P0704,2019,31,17.0,41.24,52.0,3.40,2019-08-04
196101,S0097,P0704,2019,32,24.0,52.89,28.0,3.40,2019-08-11
196102,S0097,P0704,2019,33,6.0,18.90,42.0,3.40,2019-08-18
196103,S0097,P0704,2019,34,8.0,28.74,31.0,3.95,2019-08-25
196104,S0097,P0704,2019,35,1.0,3.66,30.0,3.95,2019-09-01
196105,S0097,P0704,2019,36,2.0,7.32,25.0,3.95,2019-09-08
196106,S0097,P0704,2019,37,6.0,21.94,19.0,3.95,2019-09-15
196107,S0097,P0704,2019,38,2.0,7.32,17.0,3.95,2019-09-22
196108,S0097,P0704,2019,39,7.0,25.61,10.0,3.95,2019-09-29
196109,S0097,P0704,2019,40,2.0,7.31,8.0,3.95,2019-10-06

### 1.2 Convert date to time series by set as index and sort that

In [4]:
# Set 'date' column as index and sort by date
df_sales_filtered_all.set_index('last_day_of_week', inplace=True)
df_sales_filtered_all.sort_index(inplace=True)

In [5]:
df_sales_filtered_all.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 198314 entries, 2017-01-08 to 2019-10-06
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   store_id    198314 non-null  object
 1   product_id  198314 non-null  object
 2   year        198314 non-null  UInt32
 3   week        198314 non-null  UInt32
 4   sales       198314 non-null  float64
 5   revenue     198314 non-null  float64
 6   stock       198314 non-null  float64
 7   price       198314 non-null  float64
dtypes: UInt32(2), float64(4), object(2)
memory usage: 12.5+ MB

### 1.3 Prepare to apply ARIMA

In [6]:
# Group by 'store_id' and 'product_id'
grouped = df_sales_filtered_all.groupby(['store_id', 'product_id'])

# Create a DataFrame to store forecasts and a data frame to have those product/store with error
df_forecasts = pd.DataFrame(columns=['store_id', 'product_id', 'forecast_week_1', 'forecast_week_2', 'forecast_week_3'])
df_product_error = pd.DataFrame(columns=['store_id', 'product_id', 'error_message'])

In [10]:
from statsmodels.tsa.arima.model import ARIMA
import warnings
from itertools import product
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
import pandas as pd
import joblib


# Group by store_id and product_id
grouped = df_sales_filtered_all.groupby(['store_id', 'product_id'])

# Function to perform grid search for ARIMA parameters
def optimize_arima(series, p_values, d_value, q_values):
    best_aic = float("inf")
    best_order = None
    best_model = None
    for p, q in product(p_values, q_values):
        try:
            model = ARIMA(series, order=(p, d_value, q))
            model_fit = model.fit()
            aic = model_fit.aic
            if aic < best_aic:
                best_aic = aic
                best_order = (p, d_value, q)
                best_model = model_fit
        except:
            continue
    return best_order, best_model

# Function to calculate MSE, RMSE, MAE, MAPE
def calculate_metrics(actual, predicted):
    mse = mean_squared_error(actual, predicted)
    rmse = mean_squared_error(actual, predicted, squared=False)
    mae = mean_absolute_error(actual, predicted)
    mape = mean_absolute_percentage_error(actual, predicted)
    return mse, rmse, mae, mape

# Grid search parameters
p_values = range(0, 3)
d_value = 1
q_values = range(0, 3)

# DataFrames to store results
df_forecasts = pd.DataFrame(columns=['store_id', 'product_id', 'forecast_week_1', 'forecast_week_2', 'forecast_week_3', 'ARIMA'])
df_product_error = pd.DataFrame(columns=['store_id', 'product_id', 'error_message'])
df_mse = pd.DataFrame(columns=['store_id', 'product_id', 'mse', 'rmse', 'mae', 'mape'])

# Iterate over each group
for (store_id, product_id), group in grouped:
    # Reindex to ensure complete weekly intervals
    group = group.asfreq('W-SUN', method='pad')
    
    # Ensure there are enough data points to fit the model
    if len(group) < 2:
        df_product_error = pd.concat([df_product_error, pd.DataFrame([{
            'store_id': store_id,
            'product_id': product_id,
            'error_message': 'Not enough data points to fit ARIMA model'
        }])], ignore_index=True)
        continue
    
    warnings.filterwarnings("ignore")  # specify to ignore warning messages

    # Fit ARIMA model
    try:
        best_order, best_model = optimize_arima(group['sales'], p_values, d_value, q_values)
       
        if best_model is not None:
            # Forecast future sales (next 3 weeks)
            forecast = best_model.forecast(steps=3)
            
            # Append the forecast to the DataFrame
            df_forecasts = pd.concat([df_forecasts, pd.DataFrame([{
                'store_id': store_id,
                'product_id': product_id,
                'forecast_week_1': forecast[0],
                'forecast_week_2': forecast[1],
                'forecast_week_3': forecast[2],
                'ARIMA': best_order
            }])], ignore_index=True)
            
            # Calculate metrics (assuming you have actual future sales for comparison)
            # Replace 'actual_future_sales' with your actual sales data for the next 3 weeks
            actual_future_sales = group['sales'][-3:]  # Adjust based on actual data availability
            if len(actual_future_sales) == 3:
                mse, rmse, mae, mape = calculate_metrics(actual_future_sales, forecast)
                # Append the metrics to the DataFrame
                df_mse = pd.concat([df_mse, pd.DataFrame([{
                    'store_id': store_id,
                    'product_id': product_id,
                    'mse': mse,
                    'rmse': rmse,
                    'mae': mae,
                    'mape': mape
                }])], ignore_index=True)
            else:
                df_product_error = pd.concat([df_product_error, pd.DataFrame([{
                    'store_id': store_id,
                    'product_id': product_id,
                    'error_message': 'Not enough actual future data to calculate metrics'
                }])], ignore_index=True)
        else:
            df_product_error = pd.concat([df_product_error, pd.DataFrame([{
                'store_id': store_id,
                'product_id': product_id,
                'error_message': 'Failed to find suitable ARIMA model'
            }])], ignore_index=True)
    except Exception as e:
        print(f"Error fitting ARIMA for Store: {store_id}, Product: {product_id}")
        print(str(e))
        df_product_error = pd.concat([df_product_error, pd.DataFrame([{
            'store_id': store_id,
            'product_id': product_id,
            'error_message': str(e)
        }])], ignore_index=True)

# Save the DataFrames to CSV files (or any other desired format)
df_forecasts.to_csv('forecasts.csv', index=False)
df_product_error.to_csv('product_errors.csv', index=False)
df_mse.to_csv('all_results.csv', index=False)

In [8]:
df_forecasts

,store_id,product_id,forecast_week_1,forecast_week_2,forecast_week_3,ARIMA
0,S0020,P0001,2.464655,2.464655,2.464655,"(0, 1, 1)"
1,S0020,P0005,0.170980,0.170980,0.170980,"(0, 1, 1)"
2,S0020,P0007,0.000000,0.000000,0.000000,"(0, 1, 0)"
3,S0020,P0008,0.301396,0.301396,0.301396,"(0, 1, 1)"
4,S0020,P0009,1.718748,1.718748,1.718748,"(0, 1, 1)"
...,...,...,...,...,...,...
2429,S0097,P0739,1.389241,3.516549,2.995081,"(2, 1, 1)"
2430,S0097,P0740,0.453147,0.544430,0.562817,"(1, 1, 1)"
2431,S0097,P0741,0.356635,0.356635,0.356635,"(0, 1, 1)"
2432,S0097,P0747,9.893947,9.893947,9.893947,"(0, 1, 1)"
2433,S0097,P0748,1.176473,1.176473,1.176473,"(0, 1, 1)"

In [9]:
df_mse

     store_id product_id        mse      rmse       mae          mape
0       S0020      P0001   7.643491  2.764686  2.154885  7.816296e-01
1       S0020      P0005   0.029234  0.170980  0.170980  7.700267e+14
2       S0020      P0007   0.000000  0.000000  0.000000  0.000000e+00
3       S0020      P0008   0.090840  0.301396  0.301396  1.357368e+15
4       S0020      P0009   2.079102  1.441909  1.427084  2.580185e+15
...       ...        ...        ...       ...       ...           ...
2409    S0097      P0739   4.367042  2.089747  1.955924  6.581744e+15
2410    S0097      P0740   0.880264  0.938224  0.823845  1.525166e+15
2411    S0097      P0741   0.222765  0.471980  0.452212  1.070759e+15
2412    S0097      P0747  85.364933  9.239315  9.227281  1.485279e+16
2413    S0097      P0748   2.678197  1.636520  1.058824  3.529426e-01

[2414 rows x 6 columns]