# 1 Import from pkl files

In [9]:
import joblib

df_sales = joblib.load('df_sales.pkl')
df_product = joblib.load('df_product.pkl')
df_cities = joblib.load('df_cities.pkl')
df_forecast_revenue = joblib.load('df_forecast_revenue.pkl')

# 2 Understanding sales info

In [12]:
df_sales.head(10)

,Unnamed: 0,store_id,product_id,date,sales,revenue,stock,price,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2
0,1,S0002,P0001,2017-01-02,0.0,0.00,8.0,6.25,PR14,NaN,PR03,NaN,NaN,NaN
1,2,S0002,P0005,2017-01-02,0.0,0.00,11.0,33.90,PR14,NaN,PR03,NaN,NaN,NaN
2,3,S0002,P0011,2017-01-02,0.0,0.00,9.0,49.90,PR14,NaN,PR03,NaN,NaN,NaN
3,4,S0002,P0015,2017-01-02,1.0,2.41,19.0,2.60,PR14,NaN,PR03,NaN,NaN,NaN
4,5,S0002,P0017,2017-01-02,0.0,0.00,12.0,1.49,PR14,NaN,PR03,NaN,NaN,NaN
5,6,S0002,P0018,2017-01-02,1.0,1.81,37.0,1.95,PR14,NaN,PR03,NaN,NaN,NaN
6,7,S0002,P0024,2017-01-02,0.0,0.00,36.0,1.95,PR14,NaN,PR03,NaN,NaN,NaN
7,8,S0002,P0035,2017-01-02,2.0,4.54,15.0,2.45,PR14,NaN,PR03,NaN,NaN,NaN
8,9,S0002,P0046,2017-01-02,0.0,0.00,11.0,34.50,PR14,NaN,PR03,NaN,NaN,NaN
9,10,S0002,P0051,2017-01-02,7.0,4.54,132.0,0.70,PR14,NaN,PR03,NaN,NaN,NaN

In [13]:
df_sales.tail(10)

,Unnamed: 0,store_id,product_id,date,sales,revenue,stock,price,promo_type_1,promo_bin_1,promo_type_2,promo_bin_2,promo_discount_2,promo_discount_type_2
8886048,8886049,S0143,P0639,2019-10-31,NaN,NaN,NaN,9.75,PR14,NaN,PR03,NaN,NaN,NaN
8886049,8886050,S0143,P0642,2019-10-31,NaN,NaN,NaN,4.00,PR14,NaN,PR03,NaN,NaN,NaN
8886050,8886051,S0143,P0658,2019-10-31,NaN,NaN,NaN,41.50,PR14,NaN,PR03,NaN,NaN,NaN
8886051,8886052,S0143,P0663,2019-10-31,NaN,NaN,NaN,6.75,PR10,verylow,PR03,NaN,NaN,NaN
8886052,8886053,S0143,P0664,2019-10-31,NaN,NaN,NaN,1.75,PR14,NaN,PR03,NaN,NaN,NaN
8886053,8886054,S0143,P0676,2019-10-31,NaN,NaN,NaN,19.90,PR03,verylow,PR03,NaN,NaN,NaN
8886054,8886055,S0143,P0680,2019-10-31,NaN,NaN,NaN,139.90,PR14,NaN,PR03,NaN,NaN,NaN
8886055,8886056,S0143,P0694,2019-10-31,NaN,NaN,NaN,7.50,PR14,NaN,PR03,NaN,NaN,NaN
8886056,8886057,S0143,P0718,2019-10-31,NaN,NaN,NaN,23.75,PR14,NaN,PR03,NaN,NaN,NaN
8886057,8886058,S0143,P0747,2019-10-31,NaN,NaN,NaN,21.90,PR14,NaN,PR03,NaN,NaN,NaN

In [11]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8886058 entries, 0 to 8886057
Data columns (total 14 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   store_id               object
 2   product_id             object
 3   date                   object
 4   sales                  float64
 5   revenue                float64
 6   stock                  float64
 7   price                  float64
 8   promo_type_1           object
 9   promo_bin_1            object
 10  promo_type_2           object
 11  promo_bin_2            object
 12  promo_discount_2       float64
 13  promo_discount_type_2  object
dtypes: float64(5), int64(1), object(8)
memory usage: 949.1+ MB

###### After check the data type columns above, we will need to convert some of them. Among them, initially we will need to cast date to DATE.